:root {
    --cor-preto: #383838;
    --cor-branco: #ffffff;
    --cor-amarelo: #ffc621;
    --cor-amarelo-bg-modal: rgba(255, 199, 33, 0.582);
    --cor-azul-escuro: #6EA8D7;
    --cor-azul-claro: #A4D2F6;
    --cor-cinza: #8E8E8E;
    --cor-vermelho: #FF2121;
    --gradiente-bg: linear-gradient(#E9E7FD, #528BB9);

    --font-titulos: "Coustard", serif;
    --font-textos: "Roboto", sans-serif;

    --font-size-s: 0.75rem;
    --font-size-m: 1.25rem;
    --font-size-l: 1.875rem;

    --spacing-s: ;
}

.hidden {
    display: none;
}

body {
    background: var(--gradiente-bg);
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    background-image: url('../assets/icons/icon-sun-bg.png');
    background-position: left 50px top 30px;
    background-repeat: no-repeat;

    display: grid;
    grid-template-areas:
    "aside cards"
    "aside cards"; 
    justify-content: flex-start;  
    height: 100vh;
}

.seus-filmes {
    grid-area: cards;
    margin: 100px 40px 100px 540px;
}

.aside {
    grid-area: aside;
    height: fit-content;
    margin: 100px 0 100px 100px;    
    position: fixed;
    overflow-x: hidden;
}

.divider {
    width: 100%;
    border: solid 1px var(--cor-amarelo);
    /* margin-bottom: 15px; */
}

.mensagem-de-erro {
    background: var(--cor-vermelho);
    border-radius: 100px;
    padding: 20px 40px;
    font-family: var(--font-titulos);
    font-size: var(--font-size-m);
    font-weight: 800;
    color: var(--cor-branco);
    box-shadow: 8px 8px 0px var(--cor-preto);
}