.aside {
    display: flex;
    flex-direction: column;
    /* gap: 18px; */
    width: 360px;
    padding: 18px;
    border: 2px solid var(--cor-preto);
    box-shadow: 8px 8px 0px var(--cor-preto);
    border-radius: 18px;
    margin-right: 20px;
    background-color: var(--cor-branco);
}

.aside__logo {
    width: 190px;
    margin-bottom: 20px;
}

/* Buscar filme */

.aside__buscar-seu-filme__btn {
    font-family: var(--font-titulos);
    font-weight: 800;
    font-size: var(--font-size-l);
    color: var(--cor-azul-escuro);
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    margin: 16px 0px;
}

.aside__buscar-seu-filme__container {
    width: 100%;
    margin-bottom: 20px;
}

.aside__buscar-seu-filme__input {
    border-radius: 100px;
    border: 2px solid var(--cor-preto);
    padding: 10px 20px;
    font-family: var(--font-titulos);
    font-weight: 800;
    font-size: var(--font-size-m);
    color: var(--cor-cinza);
    width: 100%;
}

/* Incluir filme */

.aside__incluir-filme__btn {
    font-family: var(--font-titulos);
    font-weight: 800;
    font-size: var(--font-size-l);
    color: var(--cor-azul-escuro);
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    margin: 16px 0px;
}

.aside__incluir-filme__form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.aside__incluir-filme__form__input {
    width: auto;
    border-radius: 100px;
    border: 2px solid var(--cor-preto);
    padding: 10px 20px;
    font-family: var(--font-titulos);
    font-weight: 800;
    font-size: var(--font-size-m);
    color: var(--cor-cinza);
}

.aside__incluir-filme__form__input:focus {
    color: var(--cor-azul-escuro);
    border: 2px solid var(--cor-amarelo);
    box-shadow: 8px 8px 0px var(--cor-amarelo);
}

.aside__incluir-filme__form__input::placeholder {
    font-family: var(--font-titulos);
    font-weight: 800;
    font-size: var(--font-size-m);
    color: var(--cor-cinza);
}

.aside__incluir-filme__form__btn-imagem {
    background: var(--cor-azul-claro);
    border-radius: 100px;
    padding: 10px 20px;
    font-family: var(--font-titulos);
    font-size: var(--font-size-m);
    font-weight: 800;
    color: var(--cor-branco);
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.aside__incluir-filme__form__imagem-padrao {
    align-self: center;
    width: 226px;
    height: 340px;
    border: var(--cor-preto) 2px solid;
    border-radius: 16px;
}

.aside__incluir-filme__form__btn-enviar {
    font-family: var(--font-titulos);
    font-size: var(--font-size-m);
    font-weight: 800;
    color: var(--cor-branco);
    background: var(--cor-amarelo);
    padding: 10px 20px;
    border: 2px solid var(--cor-preto);
    box-shadow: 8px 8px 0px var(--cor-preto);
    border-radius: 100px;
    margin-bottom: 20px;
    cursor: pointer;
}

.aside__incluir-filme__form__btn-enviar:active {
    box-shadow: none;
    transition: .2s;
    color: var(--cor-preto);
}



/* Filtrar filmes */
.aside__filtrar-filmes__btn {
    font-family: var(--font-titulos);
    font-weight: 800;
    font-size: var(--font-size-l);
    color: var(--cor-azul-escuro);
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    margin: 16px 0px;
}

.aside__filtrar-filmes__filtros {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.aside__filtrar-filmes__filtros__a-z,
.aside__filtrar-filmes__filtros__z-a,
.aside__filtrar-filmes__filtros__ano-maior,
.aside__filtrar-filmes__filtros__ano-menor,
.aside__filtrar-filmes__filtros__nota-maior,
.aside__filtrar-filmes__filtros__nota-menor,
.aside__filtrar-filmes__filtros__padrao {
    width: auto;
    border-radius: 100px;
    border: 2px solid var(--cor-azul-escuro);
    padding: 10px 20px;
    font-family: var(--font-titulos);
    font-weight: 800;
    font-size: var(--font-size-m);
    color: var(--cor-preto);
    display: flex;
    flex: row;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
}

.aside__filtrar-filmes__filtros__a-z:hover,
.aside__filtrar-filmes__filtros__z-a:hover,
.aside__filtrar-filmes__filtros__ano-maior:hover,
.aside__filtrar-filmes__filtros__ano-menor:hover,
.aside__filtrar-filmes__filtros__nota-maior:hover,
.aside__filtrar-filmes__filtros__nota-menor:hover,
.aside__filtrar-filmes__filtros__padrao:hover {
    background: var(--cor-azul-claro);
    border: 2px solid var(--cor-azul-claro);
    color: var(--cor-branco);
}

.filtrar__selected {
    border: none;
    background: var(--cor-amarelo);
    padding: 10px 20px;
    font-family: var(--font-titulos);
    font-weight: 800;
    font-size: var(--font-size-m);
    color: var(--cor-branco);
    box-shadow: 8px 8px 0px var(--cor-preto);
    border-radius: 100px;
}

